#KFUPM-logo {
    height: 200px;

}

#home-jumbotron {
    text-align: center;
    text-shadow: 1px 1px 5px;
}



a{
    color: black;
    
}
a:hover{
    color: green;
    font-weight: bold;
}

.body {
    background: #E8ECEF;
}

#Main-buttons {
    width: inherit;
    font-size: 20pt;
    font-weight: bold;
}

.navbar {
    text-shadow: 0px 0px 2px;
}

#icon-logo {
    height: 32px;
    width: 32px;
}

#usr-profile {
    height: 250px;
}

#page-name {
    font-weight: bold;
}

h1 {
    text-shadow: 1px 1px 2px;
}

input {
    text-align: center;
}


label {
    font-weight: bold;
}

table {
    width: inherit;
}

.form td {
    font-size: 20px;
    font-weight: bold;
}
