<!DOCTYPE html>
<html>

<head>
    <title>Residents</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="chrome-extension://mooikfkahbdckldjjndioackbalphokd/assets/prompt.js"></script>
    
     <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/HW1-style.css">
    <script src="/index/myjs.js"></script>


    <nav class="navbar navbar-trans navbar-expand-lg navbar-light bg-dark ">
        <a class="navbar-brand" href=""><a href="/"><img src="/imgs/KFUPM-logo.png" width="50" height="50" class="d-inline-block align-center" alt="" href=""></a>&emsp;<strong id="text">Residents</strong></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link " href="/logout" id="text2">logout</a>
                  </li>
            </ul>
        </div>
    </nav>

    <br>

</head>

<body>

    <div class="container">

        <div class="row">
            <div id="left" class="col-lg-2">
                <div class="row">
                    <div class="col text-center">
                        <br><br><br><br>
                        <p>My Info</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col text-center">
                        <br><br><br><br><br>
                        <p>Creat new Request</p>
                    </div>
                </div>
                
                <br>
            </div>
            <div id="right" class="col-lg-9">
                <div class="row">
                    <img id="imgs" src="https://www.screengeek.net/wp-content/uploads/2019/12/avengers-endgame-thanos-snap.jpg" ; width="200px" height="170px" ;>
                    <div class="col text-center">
                        <br><br><br><br>
                        <p id="username" name ="<%= name%>" > &emsp;   Name : <%= typeof name != 'undefined' ? name : '' %></p>
                        <form action="/resident/new" method="GET">
                    <button type="submit" class="btn btn-primary">Create New visit</button>
                    </form>
                    </div>
                </div>
                <hr>
               


                

                <!--            previous visits  -->
                <div class="row">
                    <div class="col text-center">

                        <table class="table table-striped table-dark">
                            <thead>
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Name</th>
                                    <th scope="col">Destination</th>
                                    <th scope="col">Entering Time</th>
                                    <th scope="col">Plate Number</th>
                                    <th scope="col">Date</th>
                                    <th scope="col">Checked-in</th>

                                </tr>
                            </thead>
                            <tbody id="rows">
                                <!--
    <tr>
      <th scope="row">1</th>
    <td>Sonic The Hedgehog</td>
      <td>Building 24</td>
      <td>02:00 <span style="color: blueviolet">pm</span></td>
      <td>04:00 <span style="color: ">pm</span></td>
    <td>1/1/2010 </td>
    </tr>
    <tr>
      <th scope="row">2</th>
            <td>Sonic The Hedgehog</td>
        <td>Building 11</td>
      <td>12:00 <span style="color: blueviolet">pm</span></td>
      <td>03:30 <span style="color: blueviolet">pm</span></td>
        <td>2/1/2010 </td>
    </tr>
    <tr>
      <th scope="row">3</th>
            <td>Sonic The Hedgehog</td>
      <td>Building 846</td>
      <td>04:00 <span style="color: blueviolet">pm</span></td>
      <td>11:00 <span style="color: blueviolet">pm</span></td>
        <td>3/1/2010 </td>
    </tr>
-->
                                  <!-- Modal -->
                <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Check-in Number</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>

                            <div class="modal-body">
                                <form>
                                    Visit ID: <span id="vid"> 1</span>
                                    <br>
                                    Check-in Number:<span id="checkin"> 3405</span>
                                </form>
                               

                            </div>

                        </div>
                    </div>
                </div>

                            </tbody>
                        </table>
                    </div>
                </div>
                <br>
            </div>
        </div>

    </div>
    <br>
</body>


<script>
    
    function mymodal(x) {

        $("#vid").text(x + "");
        $("#checkin").text(check_in_nums[x] + "");
        console.log(check_in_nums[x])
    }
        var temp = <%- JSON.stringify(students) %>;
        console.log(temp);
        console.log("end");
        var temp2 = <%- JSON.stringify(id) %>;
        if (temp2 == true){
            temp = [temp]
        }
   var check_in_nums = refresh2("host", $("#username").attr("name"), "name", false, temp);
</script>

</html>
