<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <link rel="stylesheet" href="style.css">

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>KFUPM visits</title>


</head>

<body class="body">

    <div class="container-fluid">
        <h1 id="Login">Check</h1>
        <div class="container margin-left-c">
            <br>
            <form action="/check" method="POST">
                <h5 class="Username">Username:</h5>
                <input type="text" class="Username" name="Username">

                <h5 class="Password">
                    Password:
                </h5>
                <input class="Password" type="text" name="Password">
                <br>

                <button type="submit" class="btn btn-secondary">Submit</button>
                <br>
                <a id="Dont" href="/register">Don't have an account yet?Press here to register</a>





            </form>




        </div>

</body>

</html>