<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="style.css">

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,  initial-scale=1">

</head>

<body>

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand">KFUPM Visits - Resident</a>
        <div>
            <a href="/">LogOut</a>
            <h5>Fake information</h5>
        </div>



    </nav>

    <div class="container-fluid">
        <h1 class="personal">Personal Information</h1>
        <br>
        <table>
            <tr>
                <td>
                    <h3 class="entry">Name</h3>
                </td>
                <td>
                    <h5>Ali</h5>
                </td>
            </tr>
            <tr>
                <td>
                    <h3 class="entry">ID</h3>
                </td>
                <td>
                    <h5>2126549</h5>
                </td>
            </tr>

            <tr>
                <td>
                    <h3 class="entry">Phone</h3>
                </td>
                <td>
                    <h5>05512875421</h5>
                </td>
            </tr>
            <tr>
                <td>
                    <h3 class="entry">Email</h3>
                </td>
                <td>
                    <h5>ali@hotmail.com</h5>
                </td>
            </tr>
        </table>

        <img id="img2" src="https://upload.wikimedia.org/wikipedia/en/b/bb/Male_Bathroom_Symbol.png" alt="image">



    </div>
    <hr>






    <div class="container-fluid">
        <h1 class="personal">Visit Request</h1>
        <div class="container margin-left-c">

            <br>
            <form>
                <h5 class="font1  ">
                    Brand:
                </h5>
                <input id="brand" class="spaceR1" type="text">
                <br>
                <h5 class="font1">Model:</h5>
                <input id="model" type="text" class="spaceT">
                <br>
                <h5 class="font1"> year: </h5>
                <input class="spaceT spaceL2" type="number" min="1990" max="2020">
                <br>
                <h5 class="font1  ">
                    License plate:
                </h5>
                <input id="LI" class="spaceT" type="text">
                <br>
                <h5 class="font1">destination:</h5>
                <input id="dest" class="spaceT">
                <br>
                <h5 class="font1">Time:</h5>
                <input id="time" class="spaceT" type="datetime">
                <br>
                <h5 class="font1">Duration(mins) </h5>
                <input class="spaceT" type="number" min="15" max="60">
                <br>
                <button type="submit" class="btn btn-secondary">Submit</button>





            </form>




        </div>

    </div>
    <hr>
    <div class="container-fluid">
        <h1 class="personal">Previous Visits</h1>
        <br>
        <table>
            <tr>
                <th>Sr#</th>
                <th>Name</th>
                <th>Car Brand</th>
                <th>Car Model</th>
                <th>year</th>
                <th>License plate</th>
                <th>destination</th>
                <th>Time</th>
                <th>Durations</th>
            </tr>
            <tr>
                <td>1</td>
                <td>Hussain</td>
                <td>Toyota</td>
                <td>Camry</td>
                <td>2020</td>
                <td>AHK 2011</td>
                <td>Building 835</td>
                <td>12-2-2020 12:15:00</td>
                <td>50 minutes</td>

            </tr>
        </table>




    </div>









</body>






</html>