<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="style.css">

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,  initial-scale=1">

</head>

<body>

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand">KFUPM Visits - Security</a>
        <a href="/">LogOut</a>
        <div>
            <h5>Fake informatio</h5>
        </div>




    </nav>



    <div class="container-fluid">
        <h1 class="personal">Current Visits</h1>
        <br>
        <table>
            <tr>
                <th>Sr#</th>
                <th>Name</th>
                <th>Car Brand</th>
                <th>Car Model</th>
                <th>year</th>
                <th>License plate</th>
                <th>destination</th>
                <th>Time</th>
                <th>Durations</th>
            </tr>
            <tr>
                <td>1</td>
                <td>Hussain</td>
                <td>Toyota</td>
                <td>Camry</td>
                <td>2020</td>
                <td>AHK 2011</td>
                <td>Building 835</td>
                <td>12-2-2020 12:15:00</td>
                <td>50 minutes</td>

            </tr>
        </table>




    </div>










    <hr>
    <div class="container-fluid">
        <h1 class="personal">Previous Visits</h1>
        <br>
        <table>
            <tr>
                <th>Sr#</th>
                <th>Name</th>
                <th>Car Brand</th>
                <th>Car Model</th>
                <th>year</th>
                <th>License plate</th>
                <th>destination</th>
                <th>Time</th>
                <th>Durations</th>
            </tr>
            <tr>
                <td>1</td>
                <td>Ali</td>
                <td>Toyota</td>
                <td>Camry</td>
                <td>2020</td>
                <td>AHK 2011</td>
                <td>Building 835</td>
                <td>12-2-2020 12:15:00</td>
                <td>50 minutes</td>

            </tr>
        </table>




    </div>









</body>






</html>