.p-t-20 {
    padding-top: 20px;
  }
  .p-t-30 {
    padding-top: 30px;
  }
  .p-t-35 {
    padding-top: 35px;
  }
  .p-t-40 {
    padding-top: 40px;
  }
  .p-t-60 {
    padding-top: 60px;
  }
  .p-b-10 {
    padding-bottom: 10px;
  }
  .p-b-20 {
    padding-bottom: 20px;
  }
  .p-b-30 {
    padding-bottom: 30px;
  }