<!DOCTYPE html>
<html>

<head>
    <title>checkSwitch</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/newVisit.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="/js/check.js"></script>
</head>

<body>
    <nav class="navbar navbar-light bg-light">
        <div class="navbar-header  d-flex align-items-center">
            <a class="navbar-brand" href="/"><img src="/img/logo.png"></a>
            <h1 class="navbar-text">Quick Check in/out</h1>
        </div>
    </nav>
    <form id="form">
        <label>
            <p class="label-txt">Code</p>
            <input name="code" type="text" class="input">
            <div class="line-box">
                <div class="line"></div>
            </div>
        </label>
        <button type="button" id="submitForm">submit</button>
        <div style="height: 5px;"></div>
    </form>
    <div>
</body>