<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" type="text/css" href="/css/HW2stylesheet.css">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <title>VMS - Residents</title>

    <link rel="icon" type="image/ico" href="/imgs/KFUPM - green icon.jpg" />

</head>


<body class="body">

    <nav class="navbar navbar-light bg-light">
        <a class="navbar-brand" href="/Residents">
            <img src="/imgs/KFUPM - green icon.jpg" class="d-inline-block align-top" id="icon-logo" alt=""> Visiting Management System
        </a>
        <div>
            <a style="color: red;">UNDER CONSTRUCTION</p>
        </div>
        <div>
            <span>
                <a id="page-name" href="/">Logout</a>
            </span>
            <a id="page-name">|  RESIDENTS</a>
        </div>
    </nav>

    <!-- <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display">PERSONAL INFORMATION</h1>
            <hr class="my-2">
            <table>
                <tr align="center">
                    <td>
                        <table class="table" style="font-weight: bold;">
                            <tr>
                                <td>Name: </td>
                                <td>Hussain Ali Alrajjal</td>
                            </tr>
                            <tr>
                                <td>Job: </td>
                                <td>Computer Engineer</td>
                            </tr>
                            <tr>
                                <td>Mobile No. : </td>
                                <td>+966 53 685 0098</td>
                            </tr>
                            <tr>
                                <td>Email: </td>
                                <td>s201550190@kfupm.edu.sa</td>
                            </tr>
                            <tr>
                                <td>Address: </td>
                                <td>826-325</td>
                            </tr>
                            <tr>
                                <td>KFUPM ID: </td>
                                <td>201550190</td>
                            </tr>
                        </table>
                    </td>
                    <td>
                        <img src="pngfuel.com.png" alt="My Personal Photo" id="usr-profile"></td>
                </tr>
            </table>


        </div>
    </div>
> -->

</html>