<!DOCTYPE html>

<html lang="en">
	<head>
		<title>All Visitors</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		
		<!-- Bootstrab -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
        
        <!-- Javascript -->
        <script src="script.js"></script>
        </script> 
        
		<!-- External CSS -->
		<link rel="stylesheet" href="style.css">
	</head>

	<body>
		<div class="container-fluid">
			<div class=“row”>
				<div class="col-xs-4">
					<img src=https://upload.wikimedia.org/wikipedia/en/9/98/King_Fahd_University_of_Petroleum_%26_Minerals_Logo.svg alt="KFUPM LOGO" class="vrsImgLogo">
				</div>
				<div class="col-xs-4 text-center">
					<h1 class="vrsHeaderMain">Visitors</h1>
				</div>
				<div class="col-xs-4">
					<br>
				</div>
			</div>
		</div>
		
		<hr>
		
		<div class="container-fluid">
			<div class=“row”>
				<div class="col-xs-4">
					<h1 class="vrsHeaderLeft"> All Visits </h1>
				</div>
				<div class="col-xs-8">
					<table id="previousVisits">
						<ul id='visits'> 
							<% visits.forEach(function(visit){ %>
							<a href="/visits/<%=visit.name%>"> <li class="items" > <%= visit.name %></li></a> 
							<%})%>
						</ul>
					</table>
				</div>
			</div>
		</div>
		
		<hr>

	</body>

</html>